html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  color: var(--color-black_3);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input {
  outline: none;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
}

.text {
  font-size: 14px;
  line-height: 2em;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container {
    padding: 0 50px;
  }

  .title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 65px;
  }

  .text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1700px;
  }
}
